.imageWrapper {
  position: relative;
}

.image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.price {
  position: absolute;
  bottom: 4px;
  right: 4px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.productName {
  margin-bottom: 12px;
  font-size: 20px;
}

.addToCartButton {
  color: white;
  background-color: tomato;
  border-radius: 100vh;
  border-style: none;
  font-size: 20px;
  margin: auto;
}

.buttonWrapper {
  text-align: center;
}
